@model Dangky
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true">


<header></header>
<body>
    <div id="box">
        <form id="from-login">
            <h1>Đăng Ký</h1>
            <div id="from-DN" class="tendangnhap">
                <input type="text" class="input-login" placeholder="Tên đăng nhập">
            </div>
            <div id="from-DN" class="taomatkhau">
                <input type="password" class="input-password" placeholder="Mật khẩu">
            </div>
            <div id="from-DN" class="nhaplaimatkhau">
                <input type="password" class="input-again" placeholder="Nhập lại mật khẩu">
            </div>
            <button type="submit" class="from-dangky">Đăng Ký</button>
            <br>
            <a href="../abc/dangnhap.html"><input type="button" value="Đăng Nhập" class="form-DK"></a>
            <a href="../abc/quenmk.html"><input type="button" value="Quên mật khẩu" class="form-QMK"></a>
        </form>
    </div>
 </body>
